{{#with patient}}
<div class="main_page_body_under_navigation">
        <div class="light_theme_colour_background four_corners" id="note_page">
            <h1 id="patient_note_heading">{{first_name}}'s Patient Notes</h1>

            <div class="add_note_form">
                <h3>Add new note:</h3>

                <form class="add_note_form" method="post" action="/user/clinician/insertNote{{idqueryparam}}">
                    <textarea class="data_comment white" name="new_note" id="add_note" cols="30" rows="10" oninput="checkClinicianNoteEntry()"></textarea>
                    <div class="data_entry_button_grid add_note_buttons">
                        <div class="outer_block_text_column" id="cancel_button">
                            <button class="default_button grey data_button" type="button"
                                onclick="clinicianPatientDashRedirect('{{patient_id}}')">Cancel</button>
                        </div>

                        <div class="outer_block_text_column" id="submit_button">
                            <input type="submit" value="Submit" class="default_button grey data_button" id="submit_new_note_button" disabled>
                        </div>
                    </div>

            </form>



        </div>

        <div class="notes_table">
            <h3>Past Notes:</h3>
            <table id="clinician_notes_table">
                <thead>
                    <tr>
                        <th scope="col">Time</th>
                        <th scope="col">Note</th>

                    </tr>
                </thead>

                <tbody>
					{{#each notes}}
					<tr>
                        <td>{{dateFormat date "DD/MM"}}</td>
                        <td>{{text}}</td>
                    </tr>
					{{/each}}
                </tbody>


            </table>
        </div>


    </div>
</div>
{{/with}}
